<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FIMANAGERBD_TREINAMENTO;Persist Security Info=True;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
        <add name="Froggy.Test.Properties.Settings.TestDatabaseConnectionString" connectionString="Data Source=|DataDirectory|\Data\TestDatabase.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
