td, th
{
    vertical-align: top;
    padding: 0.25em;
}
dt
{
    font-weight: bold;
}
dt, dd, li
{
    margin-bottom: 0.5em;
}
img
{
    border: none;
}
hr
{
    display: none;
}
th
{
    text-align: left;
}
pre.code, pre.cmd
{
    padding: 0.5em;
}
@media screen
{
    body
    {
        margin: 0;
        border-top: solid 20px #d00000;
        font-family: Calibri, Tahoma, Arial, Helvetic;
        font-size: 100%;
        background-color: white;
    }
    a
    {
        color: #0066cc;
        text-decoration: none;
    }
    a:visited
    {
        color: #008;
    }

    a:hover
    {
        color: #d00000;
        text-decoration: underline;
    }
    p, li, dt, dd
    {
        line-height: 125%;
    }
    code, tt, pre, kbd, samp
    {
        font-family: Lucida Console, Courier New, Courier, Monospace;
        font-size: small;
    }
    #MainContent
    {
        padding: 0 1em;
    }
    #NavMenu
    {
        list-style-type: none;
        margin: 0;
        padding: 0.2em 1em;
        font-weight: bold;
    }
    #NavMenu a
    {
        color: #444;
    }
    #NavMenu a:hover
    {
        color: #d00000;
    }
    #NavMenu li
    {
        display: inline;
        margin-right: 1em;
    }
    #SiteTitle
    {
        position: absolute;
        top: 0;
        right: 0;
        font-family: Georgia, Times New Roman;
        text-transform: lowercase;
        background-color: #d00000;
        color: White;
        padding: 0.1em 0.4em;
        font-size: xx-large;
    }
    #GoogleAds
    {
        float: right;
        padding: 1em;
        margin: 0 0 1em 1em;
        border-left: dotted 1px #d00000;
        background-color: White;
    }
    pre.code
    {
        background-color: #eee;
    }
    pre.cmd
    {
        color: silver;
        background-color: #000000;
    }
    pre.cmd kbd
    {
        color: #fff;
    }
    #Footer
    {
        margin: 0 1em;
        line-height: 100%;
        border-top: dotted 1px silver;
        clear: both;
        color: #444;
        font-size: small;
    }
    .important
    {
        color: red;
    }
    .tag-soup 
    {
        margin: 0 0 1em 1em;
        font-size: smaller;
        width: 25%;
        float: right;
        padding-left: 1em;
        border-left: dotted 1px #d00000;
    }
    .tag-soup li
    {
        margin: 0;
        list-style: none;
        display: inline;
        padding-right: 0.5em;
    }
    .tag-score
    {
        display: none;
        color: #888;
    }
}
@media print
{
    #SiteTitle, #NavMenu, #GoogleAds, .tag-soup
    {
        display: none;
    }
}
