<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--
      <add name="Default"
          connectionString="AttachDbFilename=|DataDirectory|\Data\TestDatabase.sdf; Database=TestDatabase;Trusted_Connection=Yes;"
          providerName="System.Data.SqlClient" />
            -->
          <add name="Default"
              connectionString="Data Source=65.60.6.142\SQLEXPRESS;Initial Catalog=FIMANAGERBD;Persist Security Info=True;User ID=fclick_teste;Password=fclick_teste"
              providerName="System.Data.SqlClient" />
        </connectionStrings>
</configuration>