<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--
      <add name="Default"
          connectionString="AttachDbFilename=|DataDirectory|\Data\TestDatabase.sdf; Database=TestDatabase;Trusted_Connection=Yes;"
          providerName="System.Data.SqlClient" />
            -->
        <add name="Default"
              connectionString="Data Source=.;Initial Catalog=TEST;Persist Security Info=True;Trusted_Connection=yes"
              providerName="System.Data.SqlClient" />
        </connectionStrings>
</configuration>