<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--
        <add name="Default"
            connectionString="Data Source=|DataDirectory|\Data\TestDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
            -->
      <add name="Default"
          connectionString="Data source=.;Initial Catalog=SisSecvLocal;Trusted_Connection=yes"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>